{% extends "base.html" %}
{% load static %}
{% block content %}
    <h3>Known MAC addresses in your network</h3>
    <table class="table table-striped table-condensed table-responsive"
            id="table"
			data-toggle="table"
			data-search="true"
			data-filter-control="true"
			data-show-export="true"
			data-click-to-select="true"
			data-toolbar="#toolbar">
        <thead>
            <tr>
                <th>#</th>
                <th>Online</th>
                <th data-filter-control="select" data-sortable="true">MAC address</th>
                <th>Info</th>
                <th>Notes</th>
                <th>First seen</th>
                <th>Last seen</th>
            </tr>
        </thead>
        <tbody>
            {% for row in kmaclist %}
            <tr>
                <td>{{ row.id }}</td>
                <td align="center">
                {% if row.count_int == 0 %}
                    <img src="{% static 'red_smaller.png' %}">
                {% else %}
                    <img src="{% static 'green_smaller.png' %}">
                {% endif %}
                </td>
                <td>{{ row.mac_text }}</td>
                <td>{{ row.mac_inf_text }}</td>
                <td>{{ row.device_text }}</td>
                <td>{{ row.first_seen_date }}</td>
                <td>{{ row.last_seen_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
