{% extends "base.html" %}

{% block content %}
    <h3>Settings</h3>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <h5>SNMP configuration</h5>
                <br>
            </div>
            <div class="col-md-4"></div>
        </div>
        <form class="form-horizontal" role="form" method="POST" action="{% url 'settings' %}">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SNMP node IP address</td>
                        <td><input type="text" name="snmp_address" class="form-control" value="{{ source.ip_text }}" id="snmp_address" required></td>
                    </tr>
                    <tr>
                        <td>OID</td>
                        <td><input type="text" name="oid" class="form-control" value="{{ source.oid_text }}" id="oid" required></td>
                    </tr>
                    <tr>
                        <td>Community</td>
                        <td><input type="text" name="community" class="form-control" value="{{ source.community_text }}" id="community" required></td>
                    </tr>
                    <tr>
                        <td>Request interval (sec)</td>
                        <td><input type="text" name="interval" class="form-control" value="{{ source.interval_int }}" id="interval" required></td>
                    </tr>
                </tbody>
            </table>
            <div class="row" style="padding-top: 1rem">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
        <br>
        {% if source.snmp_text != '' %}
            <div class="alert alert-danger">
                <strong><i class="fas fa-times fa-lg"></i> </strong>{{ source.snmp_text }}
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <h5>MacLookUp configuration</h5>
                <br>
            </div>
            <div class="col-md-4"></div>
        </div>

        <form class="form-horizontal" role="form" method="POST" action="{% url 'settings' %}">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td> APIkey </td>
                        <td><input type="text" name="apikey" class="form-control" value="{{ source.token_mac_text }}" id="apikey" required></td>
                     </tr>
                 </tbody>
            </table>
            <div class="row" style="padding-top: 1rem">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
        <br>
        {% if source.maclookup_text != '' %}
            <div class="alert alert-danger">
                <strong><i class="fas fa-times fa-lg"></i> </strong>{{ source.maclookup_text }}
            </div>
        {% endif %}
        <hr>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-3">
                <h5>Pushover configuration</h5>
                <br>
            </div>
            <div class="col-md-4"></div>
        </div>

        <form class="form-horizontal" role="form" method="POST" action="{% url 'settings' %}">
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td> Token </td>
                        <td><input type="text" name="token" class="form-control" value="{{ source.token_text }}" id="token" required></td>
                     </tr>
                     <tr>
                        <td> User </td>
                        <td><input type="text" name="user" class="form-control" value="{{ source.user_text }}" id="user" required></td>
                     </tr>
                 </tbody>
            </table>

            {% if source.send_bool == True %}
                <input type="checkbox" class="form-check-input" name="sendpush" id="sendpush" checked>
            {% else %}
                <input type="checkbox" class="form-check-input" name="sendpush" id="sendpush">
            {% endif %}
            <label class="form-check-label">Send pushover for new unknown macs (leave unticked for the first
                scan if you have multiple macs in your network)</label>

            <div class="row" style="padding-top: 1rem">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
        <br>
        {% if source.pushover_text != '' %}
            <div class="alert alert-danger">
                <strong><i class="fas fa-times fa-lg"></i> </strong>{{ source.pushover_text }}
            </div>
        {% endif %}
        <hr>
    </div>
{% endblock content %}
